name: CI

on:
  push:
    branches:
      - master
      - "v*"
    tags:
      - "v*"
  pull_request:
  schedule:
    - cron: '0 3 * * *' # daily, at 3am

jobs:
  tests:
    strategy:
      fail-fast: true
      matrix:
        python-version:
          - "3.9"
          - "3.8"
          - "3.7"
          - "3.6"
          - "3.5"
          - "2.7"
        numpy:
          - true
          - false

    name: "Tests (Python v${{ matrix.python-version }}, NumPy: ${{ matrix.numpy }})"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip install -r requirements.txt

      - run: pip install -r numpy-requirements.txt
        if: matrix.numpy == true

      - run: pytest -v --cov=utm --color=yes

  release:
    needs: tests
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')

    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: 3.9

      - run: python setup.py sdist

      - uses: pypa/gh-action-pypi-publish@v1.5.1
        with:
          user: __token__
          password: ${{ secrets.PYPI_TOKEN }}
